# You need to fill this file and rename it to dbsync.config

[main]
# Service (location) identifier
service_id=2

# Interval time between every synchronization process (in minutes)
interval=0.2

# Sleeping time between every sensor job definition (in seconds)
sleep=5

# Default start timestamp to begin synchronization. Format yyyymmddhhMMss
default_start_tstamp=20130101000000

# Sensor data will be processed from previous one (or default_start_tstamp) until this date
# Mandatory format: yyyymmdd
date_to=20990101

# 1: Track all date-value records
# 0: For each sensor, track date-value only if its value is different from previous date-value recorded
track_all_records=0

[database]
# Database where data will be read
host=
port=
db=
user=
pwd=

# Database where data will be inserted
host_to=
port_to=
db_to=
user_to=
pwd_to=