# You need to fill this file and rename it to dbsync.config

[main]
# SCADA identifier (numeric)
scada_id=

# Interval time between every synchronization process (in minutes)
interval=0.2

# Sleeping time between every sensor job definition (in seconds)
sleep=5

# Default start timestamp to begin synchronization. Format yyyymmddhhMMss
default_start_tstamp=20130101000000

[database]
# Database where data will be read
host=
port=
db=
user=
pwd=

# Database where data will be inserted
host_to=
port_to=
db_to=
user_to=
pwd_to=