# You need to fill this file and rename it to dbsync.config

[main]
# Service (location) identifier
service_id=2

# Interval time between every synchronization process (in minutes)
interval=0.2

# Sleeping time between every sensor job definition (in seconds)
sleep=5

# Default start timestamp to begin synchronization. Format yyyymmddhhMMss
default_start_tstamp=20130101000000

# Time gap between each sensor log will be recorded (in hours)
# For example if 60 is set, only logs ocurred at every hour will be recorded: 01:00, 02:00,..., 23:00
# If time_gap = -1 or parameter not found, all logs will be recorded
time_gap=-1

[database]
# Database where data will be read
host=
port=
db=
user=
pwd=

# Database where data will be inserted
host_to=
port_to=
db_to=
user_to=
pwd_to=